doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
      title Home Automation
    link(rel="stylesheet",href="/css/angular-material.min.css")
    script(type="application/javascript", src="/js/core.js")
    script(type="application/javascript", src="/js/global.js")
    block head

  body(ng-app="app" ng-controller="globalCtrl" layout="row")
    div(layout="column" layout-fill)
      md-toolbar
        .md-toolbar-tools()
          h1 Home Automation
      div(flex layout="column")
        block content
    block scripts
